body {
	padding-left: 20px;
	padding-right: 20px;
}

.severe {
	color: red;
}

.alert {
	height: 350px;
	width: 1080px;
	background-image: url("alert.png");
}

.reqInject {
	height: 220px;
	width: 1080px;
	background-image: url("reqInject2.png");
}

.req2 {
	background-image: url("reqInject.png");
}

.weak {
	color: green;
}

.non-num {
	height: 160px;
	width: 1020px;
	background-image: url("nonnum.png");
}